
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



    .intro1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 100vw;
    
    .ig{
        width: 25rem;
        display: flex;
        margin-left: 5rem;
        }

    .text-t{
        margin-left: 5rem;
        h1{
        color: white;
        font-size: 4rem;
    }
    p{
        color: white;
    }
    button{
        
        width: 20rem;
        height: 2.5rem;
        background-color: transparent;
        color: white;
        border: 2px solid white;
        border-radius: 5px;
        text-align: center;
        font-weight: 700;
        &:hover{
            background-color: white;
            color: #19a8a6;
            border: 2px solid white;
        }
}
}
}
